*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.forma{
    margin:40px;
}
.jadoo{
    font-size:xx-large;
    text-align: center;
    font-weight:bold;
    font-family:timesnew roman;
}
.button{
    background-color:transparent;
}
a{
    color:black;
    text-decoration:none;
}