.hero {
     font-family: Verdana, Tahoma, sans-serif;
}
h5.text-color {
    color: #df6951;
 text-transform: uppercase;
 font-size: 18px;
font-weight: 900;
}
h5.margin-top {
    margin-top: 90px;
}
.hero {
    padding: 10px 70px;
}
.hero-heading {
    width: 50%;
color: #181e48;
    font-size: 60px;
line-height: 1em;
}
.find-more {
    text-decoration: none;
    padding: 16px 20px;
    color: #fff;
    background-color: #F1A501;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    margin-right: 33px;
}
.demo-btn {
    text-decoration: none;
    padding: 16px 20px;
    font-size: 1.1em;
    color: #686D77;
    border: none;
}
img {
    margin-bottom: -17px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}
.btn-section {
    margin-top: 35px;
}
p.hero-text {
    color: #5e6282;
}
@media  screen and (max-width:430px) {
.hero-heading {
    width: 100%;
    font-size: 30px;
}    
.demo-btn {
padding: 8px 12px;
font-size: 15px;
}
img {
    width: 35px;
    height: 35px;
}
.find-more {
    padding: 8px 12px;
    font-size: 15px;
    margin: 3px;
}
.hero {
    padding: 8px 12px;
}
}
@media screen and (min-width:912px) {
.hero {
   background-image: url('../images/Traveller\ 1.png'), url('../images/Group.png'),
   url('../images/Group.png'), url('../images/Decore.svg');
     background-position: 80% 50px, 60% 100px,  88% 130px, 50% 0px;
     background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
     background-size: 40% 95%, 100px 80px, 100px 80px, 50% 100%;
}
}