*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* correct  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.button {
  padding: 8px 16px;
  background-color: transparent;
  border:1px solid #333;
 
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
